#menu {
	position:relative;
}

.icon{
	width: 150px;
	height: 150px;
	opacity:0.9;
}


#searchref {
	position: absolute;
	left:20%;
	top:45%;

}

#favref {
	position: absolute;
	left:70%;
	top:45%;

}

#listref {
	position: absolute;
	left:45%;
	top:45%; 

}



