html{
	background-image:url("images/bg.png");
	height:100%;
	width:100%;
	top:10%;
	background-repeat: no-repeat;
	background-size:cover;
	bottom:0px;
	
}
#location {
	position: absolute;
	right:50%;
	margin-right: -35%;
	top:13%;
	opacity: 0.9;
}

#events {
	position: absolute;
	right:70%;
	margin-right: -35%;
	top:13%;
	opacity: 0.9;
}

#test{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 30px; 
}
#menu {
	position:relative;
}

.icon{
	width: 150px;
	height: 150px;
	opacity:0.9;
}


#searchref {
	position: absolute;
	left:20%;
	top:45%;

}

#favref {
	position: absolute;
	left:70%;
	top:45%;

}

#listref {
	position: absolute;
	left:45%;
	top:45%; 

}

#statusbar {
	position:absolute;
	height:10%;
	width:110%;
	top:0px;
	background-color:white;
	left:0px;
	right:0px;
	opacity:0.85;
}

#skyline {
	position:absolute;
	bottom:0px;
	width:110%; 
	height:25%;
	left:0px;	
	opacity:0.8;
}

#lava {
	position:absolute;
	margin-left: -25%;
	height:13%;
	width:73%;
	left:50%;
	top:19%;
	opacity:0.9;
	
}

#lavafav {
	position:absolute;
	margin-left: -32%;
	height:12%;
	width:80%;
	left:50%;
	top:19%;
	opacity:0.9;
	
}

#lavasearch {
	position:absolute;
	margin-left: -18%;
	height:13%;
	width:45%;
	left:50%;
	top:19%;
	opacity:0.9;
	
}

#searchid {
	position:absolute;
	height:5%;
	width:60%;
	top:35%;
	left:50%;
	margin-left:-25%;
	font-size:50px;
	color:gray;
	padding-left:15px;
}




#back{
	position: absolute;
	top:2%;
	left:4%;
	width:12%;
	height:5%;
	font-size: 35px;
	color:gray;
	font-weight:bold;
	opacity:0.9;
}

#table {
	position: absolute;
	top:35%;
	left:50%;
	margin-left:-13%;
	height:20%;
	width:20%;
	overflow:scroll-y;
	font-size:80px;
	color:white;
	padding-left:15px;
	font-family: Arial;
	text-align: center;

}

#compInfo {
	position: absolute;
	top:35%;
	left:50%;
	margin-left:-40%;
	height:20%;
	width:90%;
	overflow:scroll-y;
	font-size:60px;
	color:white;
	padding-left:15px;
	font-family: Arial;
	text-align: center;

}

#compName {
	position:absolute;
	top:25%;
	left:50%;
	margin-left:-30%;
	font-size:120px;
	font-style: bold;
	color:white;
	padding-left:15px;
	font-family: Arial;
	text-align: center;
	
}

#tablesearch {
	position: absolute;
	top:42%;
	left:50%;
	margin-left:-13%;
	height:20%;
	width:20%;
	overflow:scroll-y;
	font-size:80px;
	color:white;
	padding-left:15px;
	font-family: Arial;
	text-align: center;

}
p{
	margin:2%;
}

#favCompView {
	position: absolute;
	right:50%;
	margin-right: -55%;
	top:13%;
	opacity: 0.9;
}

.searchResult:hover{
	cursor: pointer;
}

#menu {
	top:40%;
	left:50%;
	margin-left:-25%;
}

#currUser {
	position: absolute;
	color:gray;
	right:10%;
	margin-right:6%;
	top:15%;
	height:10%;
	width:10%;
	font-family: Arial;
	font-size:60px;
	opacity:0.8;
}
